.NavBar {
    display: flex;
    justify-content: space-between;
    /* padding: 10px 15px; */
    height: 40px;
}

.NavBar-welcome {
    color: black;
    font-size: 14px
}

.NavBar-link {
    color: rgb(50, 50, 50);
    font-size: 14px;
}

.NavBar p {
    font-weight: 500;
    font-size: 24px;
    margin-top: 5px;
}

.nav-thirds {
    width: 33.333vw;
}

.NavBar-wrap {
    padding: 0 10px;
}

#first {
    display: flex;
}